.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, rgba(118, 200, 71, 1) 0%, rgb(83, 174, 86) 100%); 
    padding: 20px;
    margin: 6px;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    height: 100px;
    width: 100px;
}